electronics/onboard-systems/.history/
/electronics/firmware/scripts/__pycache__
/electronics/firmware/.pio
electronics/onboard-systems/~onboard-systems.kicad_pcb.lck
electronics/onboard-systems/~onboard-systems.kicad_sch.lck
